<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="GETRESTO adalah aplikasi yang dapat membantu user untuk mengexplore Restaurant"
    />
    <meta name="theme-color" content="#C70039" />
    <link rel="apple-touch-icon" href="/icon/192x192.png">
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="/favicon.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>GETRESTO</title>
  </head>
  <body>
    <a href="#mainContent" class="skip">Skip To Content</a>

    <head-section></head-section>

    <hero-content></hero-content>

    <main id="mainContent" tabindex="0"></main>

    <set-footer></set-footer>
  </body>
</html>
