@import url("https://fonts.googleapis.com/css2?family=Anton&family=Konkhmer+Sleokchher&family=Poppins&family=Secular+One&display=swap");

.heading-detail-page {
  background-color: #64c9cf;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  font-family: "poopins", sans-serif;
  color: #fff;
}

.content-wrap {
  margin-top: 1rem;
}

.detail-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "poopins", sans-serif;
}

.container-detail {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}

.container-label {
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content-label h1 {
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
}

.container-label p {
  font-weight: 400;
}

.content-label-icon {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-label-icon .rating {
  width: 150px;
  height: 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid rgb(231, 229, 229);
}

.content-label-icon .rating p {
  color: rgb(121, 118, 118);
  margin-top: 3px;
  text-align: center;
  padding: 3px;
}

.start {
  position: relative;
  top: 7px;
}

#likeButtonContainer {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#likeButtonContainer p {
  color: rgb(121, 118, 118);
}

.like {
  width: 44px;
  height: 44px;
  background-color: #0aa06e;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.img-container img {
  border-radius: 15px;
}

.detail-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 5rem 0;
}

.detail-menu h2 {
  text-align: center;
  background-color: #c70039;
  padding: 15px;
  width: 150px;
  border-radius: 30px;
  color: #fff;
}

.detail-food {
  width: 100%;
  margin: 2rem 0;
}

.detail-food h3 {
  margin-bottom: 5px;
  padding: 10px;
  text-align: left;
  font-weight: 400;
  font-family: "poopins", sans-serif;
}

.foods {
  display: flex;
  align-items: center;
  justify-content: baseline;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 15px;
}

.foods-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 120px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 20px;
  border: 1px solid rgb(233, 226, 226);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.foods-card button {
  background-color: #fff;
  outline: none;
  border: 2px solid #0aa06e;
  padding: 15px;
  text-align: center;
  border-radius: 25px;
  width: 130px;

}

.detail-drink {
  width: 100%;
  margin: 2rem 0;
}

.detail-drink h3 {
  margin-bottom: 5px;
  padding: 10px;
  text-align: left;
  font-weight: 400;
  font-family: "poopins", sans-serif;
}

.drinks {
  display: flex;
  align-items: center;
  justify-content: baseline;
  align-content: center;
  flex-wrap: wrap;
  margin-left: 15px;
}

.drinks-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* width: 180px; */
  height: 120px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 20px;
  border: 1px solid rgb(233, 226, 226);
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.drinks-card button {
  background-color: #fff;
  outline: none;
  border: 2px solid #0aa06e;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  width: 130px;
  color: #0aa06e;
}

.detail-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "poopins", sans-serif;
  margin: 3rem 0;
  width: 100%;
}

.detail-review h2 {
  text-align: center;
  background-color: #c70039;
  padding: 15px;
  width: 150px;
  border-radius: 30px;
  color: #fff;
}

.detail-review h3 {
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}

.detail-review-container {
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}

.review-info {
  margin: 10px 0;
}

.review-info p {
  margin: 5px 0;
}

.review-info .review-name {
  color: rgb(63, 62, 62);
  font-weight: 600;
}

.review-info .review-date {
  color: rgb(100, 99, 99);
}

.review-body {
  background-color: rgb(233, 229, 229);
  border-radius: 20px;
  border: 1px solid rgb(218, 217, 217);
  padding: 20px 0;
}

.review-body p {
  margin-left: 15px;
}
